.main{
    background-color: #EDEEF0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.child{
    height: 100%;
    margin: 0px 16px;
    display: flex;
    gap: 16px;
}